[Unit]
Description=geekshop daemon
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/geekshop
ExecStart=/home/user/.local/bin/gunicorn --access-logfile server.logs --workers 2 --bind unix:/home/user/geekshop/geekshop.sock geekshop.wsgi

[Install]
WantedBy=multi-user.target