[Unit]
Description=cakeshop daemon
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/cakeshop
ExecStart=/home/user/.local/bin/gunicorn --access-logfile server.logs --workers 2 --bind unix:/home/user/cakeshop/cakeshop.sock cakeshop.wsgi

[Install]
WantedBy=multi-user.target
