{% extends "adminapp/root.html"%}
{% block content %}
{% include "adminapp/includes/inc__admin_menu.html" %}
<a href="{% url 'adminapp:user_create' %}">Создать пользователя</a>
    {% for i in users %}
    <div class="admin-block">
        <hr>
        <p>pk: {{ i.pk }}</p>
        <p>username: {{ i.username }}</p>
        <img src="/media/{{ i.img }}" width="300px" alt="">
        <p>age: {{ i.age }}</p>
        <p>email: {{ i.email }}</p>
        <p>active:{{ i.is_active }}</p>
        <a href="{% url 'adminapp:user_change' pk=i.pk %}">Изменить</a>
        <a href="{% url 'adminapp:user_delete' pk=i.pk %}">Удалить</a>
    </div>
    {% endfor %}
{% endblock %}